
body{
    color: white;
}
.americanas{
    display: flex;
    margin-left: 3px;
}

.peaky, .breaking, .list, .gotham, .flash, .legends, .vikings, .murder, .dead{
    margin-left: 5px;
    cursor: pointer;
}

.peaky{
    width: 200px;

}
.breaking{
    width: 209px;
    height: 275px;
}
.list{
    width: 200px;
    height: 385px;

}
.gotham, .flash, .legends, .murder, .dead{
    width: 200px;
    height: 273px

}
.vikings{
    width: 200px;
    height: 265px;
}




