.modal--content{
    background-color: #141414;
    border-radius: 10px 10px 0px 0px;
    max-width: 801px;
    height: 620px;
    margin: 80px auto 0 auto;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.poster{
    width: 83%;
    height: 45vh;
    width: 59.4%;
    height: 40vh;
    border-radius: 10px 10px 0px 0px;
    top: 79px;
    position: absolute;
}

.iconX{
    margin-left: 770px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    margin-top: 5px;
}

.movieTitle{
    font-size: xx-large;
    margin-top: 370px;
    margin-top: 330px;
    position: relative;
    margin-bottom: 10px;
    padding-left: 15px;
}


.flex{
    display: flex;
    margin-bottom: 10px;
    position: relative;
    
}

.relevance{
    color: #46d369;
}

.flex p, svg{
    margin-left: 15px;
}

.release{
    margin-left: 45px;
}

.flex svg{
    cursor: pointer;
    margin-top: -3px;
    margin-left: 35px;
}

.overview{
    margin: 15px;
}

.trailer{
    text-decoration: none;
    background-color: #ffff;
    color: #141414;
    padding: 2px 15px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 0px;
    text-align: center;
    font-size: 20px;
}

.youtubeIcon{
    margin-top: 3px;
    margin-right: 5px;
    margin-left: -3px;
    margin-bottom: -5px;
}

@media screen and (min-width: 1000px){
    .poster{
        width: 42.1%;
    }

    .modal--content{
        height: 800px;
    }
    .movieTitle{
        margin-top: 370px;
    }
}


@media screen and (max-width: 1000px){
    .poster{
        width: 82.5%;
    }

    .modal--content{
        height: 800px;
    }
    .movieTitle{
        margin-top: 370px;
    }
}

@media screen and (max-width: 1600px){
    .poster{
        width: 59.3%
    }

    .modal--content{
        height: 800px;
    }
    .movieTitle{
        margin-top: 250px;
    }
}

