.modal--content--CF{
    background-color: #141414;
    border-radius: 10px 10px 0px 0px;
    max-width: 801px;
    height: 620px;
    margin: 80px auto 0 auto;
}

.modalCF{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 1000%;
    z-index: 1000;
}

.posterCF{
    width: 86%;
    height: 40vh;
    border-radius: 10px 10px 0px 0px;
    top: 79px;
    position: absolute;
}

.iconFecha{
    margin-left: 770px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    margin-top: 5px;
}

.movieTitleCF{
    font-size: xx-large;
    margin-top: 370px;
    margin-top: 330px;
    position: relative;
    margin-bottom: 10px;
    padding-left: 15px;
}


.flexCF{
    display: flex;
    margin-bottom: 10px;
    position: relative;
    
}

.relevanceCF{
    color: #46d369;
}

.flexCF p, svg{
    margin-left: 15px;
}

.releaseCF{
    margin-left: 45px;
}

.flexCF svg{
    cursor: pointer;
    margin-top: -3px;
    margin-left: 35px;
}

.overviewCF{
    margin: 15px;
}





@media screen and (min-width: 1000px){
    .posterCF{
        width: 42.1%;
    }

    .modal--content--CF{
        height: 800px;
    }
    .movieTitleCF{
        margin-top: 370px;
    }
}


@media screen and (max-width: 1000px){
    .posterCF{
        width: 82.5%;
    }

    .modal--content--CF{
        height: 800px;
    }
    .movieTitleCF{
        margin-top: 370px;
    }
}

@media screen and (max-width: 1600px){
    .posterCF{
        width: 59.3%
    }

    .modal--content--CF{
        height: 800px;
    }
    .movieTitleCF{
        margin-top: 250px;
    }
}

.remove--buttonCF{
    top: 86%;
    left: 21.5%;
    position: absolute;
    color: red;
    background-color: #141414;
    padding: 10px 15px 10px 15px;
}

