header{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: all ease 0.5s;
}

header.black{
    background-color: #141414;
}

.header--logo{
    height: 60px;
}

.header--logo img{
    height: 100%;
}

.header--user{
    height: 35px;
    cursor: pointer;
}
.header--user img{
    height: 100%;
    border-radius: 3px;
}

.modalLogout h3{
    position: absolute;
    top: 60px;
    text-align: center; 
    font-size: x-large;
    margin-left: 140px;
}


.modalLogout button{
   width: 80px;
   height: 30px;
   border-radius: 5px;
   cursor: pointer;
   font-size: large;
   margin-top: 120px;
   margin-left: 165px;

}

.modalLogout button{
    background-color: red;
    color: white;
}
.modalLogout button:hover{
    background-color: rgb(171, 53, 53);
}

.iconx{
    position: absolute;
    top: 20px;
    right: 20px;  
    cursor: pointer;  
}

.button{
    cursor: pointer;
    position: fixed;
    transition: all ease 0.5s; 
    
}
.teste{
    color: #1976d2;
    padding: 10px 10px 0px 10px;
    text-decoration: none;
}



.menulist{
    position: fixed;
    margin-top: 55px;
    margin-left: 89%;
    color: #fff;
    background-color: #141414;
    padding: 5px;
    z-index: 20;
}

@media screen and (min-width: 1000px){
    .menulist{
        margin-left: 87%;
    }
}


