.painel{
    position: absolute;
    top: 0;
    max-height: 500px;
    width: 100%;

}

.shows{
    z-index: 100;
    margin-top: 250px;
    margin-left: 44%;
    position: absolute;
}

.curtidos{
    position: relative;
    margin-bottom: 25px;
    margin-top: 35px;
    font-size: x-large;
    margin-left: 15px;
}

.favoritos{
    position: relative;
    margin-top: 500px;
    margin-bottom: 25px;
    margin-left: 15px;
}



.imgFavoritos{
    width: 300px;
    height: 150px;
    margin-left: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    transform: scale(0.9);
    transition: all ease 0.3s;
}

.imgFavoritos:hover{
    transform: scale(1.2);
}

.container--favoritos{
    display: inline-block;
}

.buttonAdicione{
    margin-left: 600px;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #141414;
    color: aliceblue;
    cursor: pointer;
}
