.Rodape{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;

    
}

.Rodape p{
    color: #757575;
    margin: 7px;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
