@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body{
  margin: 0;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  color: white;
  
}

.loading{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

*{
  margin: 0;
}


